{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    我的
{% endblock %}

{% block extcss %}
    <link rel="stylesheet" href="{% static 'mine/css/mine.css' %}">
{% endblock %}
{% block extjs %}
    <script src="{% static 'mine/js/mine.js' %}"></script>
{% endblock %}

{% block content %}
<div class="mine">
    <span></span>
    <div class="user-wrapper">
        <div class="user-img">
            <img src="">
        </div>
        <div class="user-content">
            <P></P>
            <span></span>
            <div class="register"></div>
        </div>
    </div>
    <div class="collect">
        <span></span>
        <div class="glyphicon"></div>
    </div>

</div>
{% endblock %}